In [ ]:
#  Copyright 2025 Google LLC. This software is provided as-is, without warranty
#  or representation for any use or purpose. Your use of it is subject to your
#  agreement with Google.

# ADK Application Testing

This notebook demonstrates how to test an ADK (Agent Development Kit) application.
It covers both local and remote testing, both with Agent Engine and Cloud Run.

### Import libraries

In [2]:
import json
import pprint
import requests
from functools import partial
import vertexai.agent_engines

# Getting better output prints 
pretty_print = partial(pprint.pprint, width=140)

See more documentation at [Agent Engine Overview](https://cloud.google.com/vertex-ai/generative-ai/docs/agent-engine/overview)

### Local Testing

You can import directly the AgentEngineApp class within your environment.

In [ ]:
from data_explorer_agent.agent import root_agent
from data_explorer_agent.agent_engine_app import AgentEngineApp

agent_engine = AgentEngineApp(agent=root_agent)

In [15]:
# Query agent with streaming query result

for event in agent_engine.stream_query(message="hi!", user_id="test"):
    pretty_print(event)

WARNING:opentelemetry.trace:Overriding of current TracerProvider is not allowed

{'actions': {'artifact_delta': {},
             'requested_auth_configs': {},
             'state_delta': {'data_store_context': '\n'
                                                   '**Documents Information Available:**\n'
                                                   '* "THE MAGIC OF NAMES - THEIR ORIGIN AND MEANING". This document is a source for '
                                                   'information regarding the etymology, historical significance, \n'
                                                   'and cultural meanings of various names.\n'
                                                   '* Indexed website, specifically "https://www.names.org/". This website serves as a '
                                                   'broad online resource for details about names, such as their \n'
                                                   'meanings, origins, historical and current popularity trends, and often includes lists '
                                                   'of related or similar names.\n',
                             'database_settings': {'bq_dataset_id': 'usa_names',
                                                   'bq_ddl_schema': 'CREATE OR REPLACE TABLE '
                                                                    '`bigquery-public-data.usa_names.usa_1910_2013` (\n'
                                                                    "  `state` STRING COMMENT '2-digit state code',\n"
                                                                    "  `gender` STRING COMMENT 'Sex (M=male or F=female)',\n"
                                                                    "  `year` INTEGER COMMENT '4-digit year of birth',\n"
                                                                    "  `name` STRING COMMENT 'Given name of a person at birth',\n"
                                                                    "  `number` INTEGER COMMENT 'Number of occurrences of the name'\n"
                                                                    ');\n'
                                                                    '\n'
                                                                    '-- Example values for table '
                                                                    '`bigquery-public-data.usa_names.usa_1910_2013`:\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_2013` VALUES\n'
                                                                    "('AL','F',1910,'Sadie',40);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_2013` VALUES\n'
                                                                    "('AL','F',1910,'Mary',875);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_2013` VALUES\n'
                                                                    "('AR','F',1910,'Vera',39);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_2013` VALUES\n'
                                                                    "('AR','F',1910,'Marie',78);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_2013` VALUES\n'
                                                                    "('AR','F',1910,'Lucille',66);\n"
                                                                    '\n'
                                                                    'CREATE OR REPLACE TABLE '
                                                                    '`bigquery-public-data.usa_names.usa_1910_current` (\n'
                                                                    "  `state` STRING COMMENT '2-digit state code',\n"
                                                                    "  `gender` STRING COMMENT 'Sex (M=male or F=female)',\n"
                                                                    "  `year` INTEGER COMMENT '4-digit year of birth',\n"
                                                                    "  `name` STRING COMMENT 'Given name of a person at birth',\n"
                                                                    "  `number` INTEGER COMMENT 'Number of occurrences of the name'\n"
                                                                    ');\n'
                                                                    '\n'
                                                                    '-- Example values for table '
                                                                    '`bigquery-public-data.usa_names.usa_1910_current`:\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_current` VALUES\n'
                                                                    "('AK','F',1910,'Mary',14);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_current` VALUES\n'
                                                                    "('AK','F',1910,'Annie',12);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_current` VALUES\n'
                                                                    "('AK','F',1910,'Anna',10);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_current` VALUES\n'
                                                                    "('AK','F',1910,'Margaret',8);\n"
                                                                    '\n'
                                                                    'INSERT INTO `bigquery-public-data.usa_names.usa_1910_current` VALUES\n'
                                                                    "('AK','F',1910,'Helen',7);\n"
                                                                    '\n',
                                                   'bq_project_id': 'bigquery-public-data',
                                                   'generate_sql_type': 'dc',
                                                   'model': None,
                                                   'number_of_candidates': 1,
                                                   'process_input_errors': True,
                                                   'process_tool_output_errors': True,
                                                   'temperature': 0.5,
                                                   'transpile_to_bigquery': True}}},
 'author': 'root_agent',
 'id': 'FaHdx5Hf',
 'invocation_id': 'e-8f248014-4630-46dd-b11b-7005345904f2',
 'timestamp': 1746727043.273728}
{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': 'Hello! How can I help you with data analysis or information retrieval today? I can access information '
                                'about names from a SQL database containing US names from 1910 to the present, as well as documents about '
                                'name origins and meanings.\n'}],
             'role': 'model'},
 'id': '5g67GWCm',
 'invocation_id': 'e-8f248014-4630-46dd-b11b-7005345904f2',
 'timestamp': 1746727043.274502}

In [16]:
pretty_print(event['content']['parts'][0]['text'])

('Hello! How can I help you with data analysis or information retrieval today? I can access information about names from a SQL database '
 'containing US names from 1910 to the present, as well as documents about name origins and meanings.\n')

In [17]:
# Running a folow up question to the greting message

# First lets check what are the active sessions for my user...
sessions = agent_engine.list_sessions(user_id='test')
sessions.sessions

[Session(id='e921e0b5-56e6-4dd7-8dfa-27d87a3c8170', app_name='default-app-name', user_id='test', state={}, events=[], last_update_time=1746727043.274502)]

In [18]:
latest_session =  sessions.sessions[-1].id #Getting the lastest session

for event in agent_engine.stream_query(message="What is the meaning of the most popular male name in 1994?", user_id="test", session_id=latest_session):
    pretty_print(event, width=140)

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.

{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': 'I need to find the most popular male name in 1994 first. After that, I will use the document data store '
                                'to find the meaning of the name.\n'
                                '\n'},
                       {'function_call': {'args': {'question': 'What was the most popular male name in the USA in 1994?'},
                                          'id': 'adk-8a63703f-4640-4b82-bbf3-2b62e0b70041',
                                          'name': 'call_db_agent'}}],
             'role': 'model'},
 'id': 'lEtEvy2D',
 'invocation_id': 'e-9f245920-8913-49ef-afa0-2f55c9a9aa44',
 'long_running_tool_ids': set(),
 'timestamp': 1746727063.059891}

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.

 sql: Here's how to construct the SQL query to answer the question:

1.  **Determine the Table:** The question asks about names in the USA, and the table `bigquery-public-data.usa_names.usa_1910_2013` and `bigquery-public-data.usa_names.usa_1910_current` seems relevant. Since the question asks about the year 1994, and both tables contain data for that year, we can use either table. For simplicity, I will use `bigquery-public-data.usa_names.usa_1910_2013`.
2.  **Filter for the Year and Gender:** We need to filter the data for the year 1994 and the male gender ('M').
3.  **Aggregate to Find Popularity:** We need to group by name and sum the number of occurrences to find the total number of occurrences for each name.
4.  **Order and Limit:** We need to order the results by the total number of occurrences in descending order and limit the result to the top 1 to find the most popular name.


SELECT
    `name`
  FROM
    `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE year = 1994
   AND gender = 'M'
  GROUP BY 1
ORDER BY
  sum(`number`) DESC
LIMIT 1

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.

 run_bigquery_validation final_result:
 {'query_result': [{'name': 'Michael'}], 'error_message': None}
{'actions': {'artifact_delta': {},
             'requested_auth_configs': {},
             'state_delta': {'query_result': [{'name': 'Michael'}],
                             'sql_explorer_agent_output': '```json\n'
                                                          '{\n'
                                                          '  "explain": "The question asks for the most popular male name in the USA in '
                                                          '1994. I first generated an SQL query to retrieve the most popular male name '
                                                          'from the `bigquery-public-data.usa_names.usa_1910_2013` table, filtering by '
                                                          "year 1994 and gender 'M', grouping by name, ordering by the sum of the number "
                                                          'of occurrences in descending order, and limiting the result to the top 1. Then '
                                                          'I validated the generated SQL query and confirmed that it returned the correct '
                                                          'result.",\n'
                                                          '  "sql": "SELECT\\n    `name`\\n  FROM\\n    '
                                                          '`bigquery-public-data.usa_names.usa_1910_2013`\\n  WHERE year = 1994\\n   AND '
                                                          "gender = \\'M\\'\\n  GROUP BY 1\\nORDER BY\\n  sum(`number`) DESC\\nLIMIT "
                                                          '1",\n'
                                                          '  "sql_results": "[{\'name\': \'Michael\'}]",\n'
                                                          '  "nl_results": "The most popular male name in the USA in 1994 was Michael."\n'
                                                          '}\n'
                                                          '```',
                             'sql_query': "Here's how to construct the SQL query to answer the question:\n"
                                          '\n'
                                          '1.  **Determine the Table:** The question asks about names in the USA, and the table '
                                          '`bigquery-public-data.usa_names.usa_1910_2013` and '
                                          '`bigquery-public-data.usa_names.usa_1910_current` seems relevant. Since the question asks about '
                                          'the year 1994, and both tables contain data for that year, we can use either table. For '
                                          'simplicity, I will use `bigquery-public-data.usa_names.usa_1910_2013`.\n'
                                          '2.  **Filter for the Year and Gender:** We need to filter the data for the year 1994 and the '
                                          "male gender ('M').\n"
                                          '3.  **Aggregate to Find Popularity:** We need to group by name and sum the number of '
                                          'occurrences to find the total number of occurrences for each name.\n'
                                          '4.  **Order and Limit:** We need to order the results by the total number of occurrences in '
                                          'descending order and limit the result to the top 1 to find the most popular name.\n'
                                          '\n'
                                          '\n'
                                          'SELECT\n'
                                          '    `name`\n'
                                          '  FROM\n'
                                          '    `bigquery-public-data.usa_names.usa_1910_2013`\n'
                                          '  WHERE year = 1994\n'
                                          "   AND gender = 'M'\n"
                                          '  GROUP BY 1\n'
                                          'ORDER BY\n'
                                          '  sum(`number`) DESC\n'
                                          'LIMIT 1'}},
 'author': 'root_agent',
 'content': {'parts': [{'function_response': {'id': 'adk-8a63703f-4640-4b82-bbf3-2b62e0b70041',
                                              'name': 'call_db_agent',
                                              'response': {'result': '```json\n'
                                                                     '{\n'
                                                                     '  "explain": "The question asks for the most popular male name in '
                                                                     'the USA in 1994. I first generated an SQL query to retrieve the most '
                                                                     'popular male name from the '
                                                                     '`bigquery-public-data.usa_names.usa_1910_2013` table, filtering by '
                                                                     "year 1994 and gender 'M', grouping by name, ordering by the sum of "
                                                                     'the number of occurrences in descending order, and limiting the '
                                                                     'result to the top 1. Then I validated the generated SQL query and '
                                                                     'confirmed that it returned the correct result.",\n'
                                                                     '  "sql": "SELECT\\n    `name`\\n  FROM\\n    '
                                                                     '`bigquery-public-data.usa_names.usa_1910_2013`\\n  WHERE year = '
                                                                     "1994\\n   AND gender = \\'M\\'\\n  GROUP BY 1\\nORDER BY\\n  "
                                                                     'sum(`number`) DESC\\nLIMIT 1",\n'
                                                                     '  "sql_results": "[{\'name\': \'Michael\'}]",\n'
                                                                     '  "nl_results": "The most popular male name in the USA in 1994 was '
                                                                     'Michael."\n'
                                                                     '}\n'
                                                                     '```'}}}],
             'role': 'user'},
 'id': 'tFbtAwYz',
 'invocation_id': 'e-9f245920-8913-49ef-afa0-2f55c9a9aa44',
 'timestamp': 1746727085.88503}

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.
I0000 00:00:1746727088.476572 6795252 fork_posix.cc:75] Other threads are currently calling into gRPC, skipping fork() handlers

{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': "The most popular male name in the USA in 1994 was Michael. Now, let's find out the meaning of the name "
                                'Michael.\n'
                                '\n'},
                       {'function_call': {'args': {'question': 'meaning of the name Michael'},
                                          'id': 'adk-9cd5a3b5-f6c1-49e0-be23-0782e2d3b79e',
                                          'name': 'call_document_explorer_agent'}}],
             'role': 'model'},
 'id': 'KfcC4419',
 'invocation_id': 'e-9f245920-8913-49ef-afa0-2f55c9a9aa44',
 'long_running_tool_ids': set(),
 'timestamp': 1746727085.887081}
{'actions': {'artifact_delta': {},
             'requested_auth_configs': {},
             'state_delta': {'documents_explorer_agent_output': 'The meaning of the name Michael is "Who is like God?".\n'
                                                                '\n'
                                                                'Citations:\n'
                                                                '* THE MAGIC OF NAMES - THEIR ORIGIN AND MEANING'}},
 'author': 'root_agent',
 'content': {'parts': [{'function_response': {'id': 'adk-9cd5a3b5-f6c1-49e0-be23-0782e2d3b79e',
                                              'name': 'call_document_explorer_agent',
                                              'response': {'result': 'The meaning of the name Michael is "Who is like God?".\n'
                                                                     '\n'
                                                                     'Citations:\n'
                                                                     '* THE MAGIC OF NAMES - THEIR ORIGIN AND MEANING'}}}],
             'role': 'user'},
 'id': 'tL9EsPW6',
 'invocation_id': 'e-9f245920-8913-49ef-afa0-2f55c9a9aa44',
 'timestamp': 1746727092.366331}
{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': '**Result:**\n'
                                'The most popular male name in the USA in 1994 was Michael, and its meaning is "Who is like God?".\n'
                                '\n'
                                '**Explanation:**\n'
                                '1.  I first used the `call_db_agent` to query the SQL database to find the most popular male name in '
                                '1994. The SQL query returned "Michael".\n'
                                '2.  Then, I used the `call_document_explorer_agent` to search for the meaning of the name "Michael" in '
                                'the available documents. The document search returned the meaning "Who is like God?".\n'}],
             'role': 'model'},
 'id': 'GiXOnATO',
 'invocation_id': 'e-9f245920-8913-49ef-afa0-2f55c9a9aa44',
 'timestamp': 1746727092.367901}

In [19]:
for event in agent_engine.stream_query(message="What about the female?", user_id="test", session_id=latest_session):
    pretty_print(event, width=140)

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.
I0000 00:00:1746727097.713501 6796853 fork_posix.cc:75] Other threads are currently calling into gRPC, skipping fork() handlers

{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': 'I need to find the most popular female name in 1994 first. After that, I will use the document data store '
                                'to find the meaning of the name.\n'
                                '\n'},
                       {'function_call': {'args': {'question': 'What was the most popular female name in the USA in 1994?'},
                                          'id': 'adk-0f185077-4dc0-486c-bcb4-d66e7acd68b4',
                                          'name': 'call_db_agent'}}],
             'role': 'model'},
 'id': '4vLLLJ9N',
 'invocation_id': 'e-64c4472e-b5d1-4ef9-890e-3bd3a4cbdb42',
 'long_running_tool_ids': set(),
 'timestamp': 1746727095.208529}

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.

 sql: Here's how to construct the SQL query to answer the question:

1.  **Identify the table:** The question is about names in the USA, and the table `bigquery-public-data.usa_names.usa_1910_2013` and `bigquery-public-data.usa_names.usa_1910_current` seems relevant. Since the question asks about the year 1994, and both tables contain data for that year, we should use both tables and combine the results.
2.  **Filter by year and gender:** We need to filter the data for the year 1994 and for female names (gender = 'F').
3.  **Aggregate to find the most popular name:** We need to group by name and sum the number of occurrences to find the total number of occurrences for each name.
4.  **Order and limit to find the most popular:** We need to order the results by the total number of occurrences in descending order and limit the result to 1 to find the most popular name.
5.  **Combine the two tables:** Use a `UNION ALL` to combine the results from the two tables.


SELECT
    name
  FROM
    (
      SELECT
          `usa_1910_2013`.name AS name,
          SUM(`usa_1910_2013`.number) AS total_number
        FROM
          `bigquery-public-data.usa_names.usa_1910_2013` AS `usa_1910_2013`
        WHERE `usa_1910_2013`.year = 1994
         AND `usa_1910_2013`.gender = 'F'
        GROUP BY 1
      UNION ALL
      SELECT
          `usa_1910_current`.name AS name,
          SUM(`usa_1910_current`.number) AS total_number
        FROM
          `bigquery-public-data.usa_names.usa_1910_current` AS `usa_1910_current`
        WHERE `usa_1910_current`.year = 1994
         AND `usa_1910_current`.gender = 'F'
        GROUP BY 1
    )
  GROUP BY 1
ORDER BY
  sum(total_number) DESC
LIMIT 1

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.

 run_bigquery_validation final_result:
 {'query_result': [{'name': 'Jessica'}], 'error_message': None}
{'actions': {'artifact_delta': {},
             'requested_auth_configs': {},
             'state_delta': {'query_result': [{'name': 'Jessica'}],
                             'sql_explorer_agent_output': '```json\n'
                                                          '{\n'
                                                          '"explain": "I have validated the SQL query using the run_bigquery_validation '
                                                          'tool and it is valid. The result shows that the most popular female name in the '
                                                          'USA in 1994 was Jessica.",\n'
                                                          '"sql": "SELECT\\n    name\\n  FROM\\n    (\\n      SELECT\\n          '
                                                          '`usa_1910_2013`.name AS name,\\n          SUM(`usa_1910_2013`.number) AS '
                                                          'total_number\\n        FROM\\n          '
                                                          '`bigquery-public-data.usa_names.usa_1910_2013` AS `usa_1910_2013`\\n        '
                                                          'WHERE `usa_1910_2013`.year = 1994\\n         AND `usa_1910_2013`.gender = '
                                                          "'F'\\n        GROUP BY 1\\n      UNION ALL\\n      SELECT\\n          "
                                                          '`usa_1910_current`.name AS name,\\n          SUM(`usa_1910_current`.number) AS '
                                                          'total_number\\n        FROM\\n          '
                                                          '`bigquery-public-data.usa_names.usa_1910_current` AS '
                                                          '`usa_1910_current`\\n        WHERE `usa_1910_current`.year = 1994\\n         '
                                                          "AND `usa_1910_current`.gender = 'F'\\n        GROUP BY 1\\n    )\\n  GROUP BY "
                                                          '1\\nORDER BY\\n  sum(total_number) DESC\\nLIMIT 1",\n'
                                                          '"sql_results": "[{\'name\': \'Jessica\'}]",\n'
                                                          '"nl_results": "The most popular female name in the USA in 1994 was Jessica."\n'
                                                          '}\n'
                                                          '```',
                             'sql_query': "Here's how to construct the SQL query to answer the question:\n"
                                          '\n'
                                          '1.  **Identify the table:** The question is about names in the USA, and the table '
                                          '`bigquery-public-data.usa_names.usa_1910_2013` and '
                                          '`bigquery-public-data.usa_names.usa_1910_current` seems relevant. Since the question asks about '
                                          'the year 1994, and both tables contain data for that year, we should use both tables and '
                                          'combine the results.\n'
                                          '2.  **Filter by year and gender:** We need to filter the data for the year 1994 and for female '
                                          "names (gender = 'F').\n"
                                          '3.  **Aggregate to find the most popular name:** We need to group by name and sum the number of '
                                          'occurrences to find the total number of occurrences for each name.\n'
                                          '4.  **Order and limit to find the most popular:** We need to order the results by the total '
                                          'number of occurrences in descending order and limit the result to 1 to find the most popular '
                                          'name.\n'
                                          '5.  **Combine the two tables:** Use a `UNION ALL` to combine the results from the two tables.\n'
                                          '\n'
                                          '\n'
                                          'SELECT\n'
                                          '    name\n'
                                          '  FROM\n'
                                          '    (\n'
                                          '      SELECT\n'
                                          '          `usa_1910_2013`.name AS name,\n'
                                          '          SUM(`usa_1910_2013`.number) AS total_number\n'
                                          '        FROM\n'
                                          '          `bigquery-public-data.usa_names.usa_1910_2013` AS `usa_1910_2013`\n'
                                          '        WHERE `usa_1910_2013`.year = 1994\n'
                                          "         AND `usa_1910_2013`.gender = 'F'\n"
                                          '        GROUP BY 1\n'
                                          '      UNION ALL\n'
                                          '      SELECT\n'
                                          '          `usa_1910_current`.name AS name,\n'
                                          '          SUM(`usa_1910_current`.number) AS total_number\n'
                                          '        FROM\n'
                                          '          `bigquery-public-data.usa_names.usa_1910_current` AS `usa_1910_current`\n'
                                          '        WHERE `usa_1910_current`.year = 1994\n'
                                          "         AND `usa_1910_current`.gender = 'F'\n"
                                          '        GROUP BY 1\n'
                                          '    )\n'
                                          '  GROUP BY 1\n'
                                          'ORDER BY\n'
                                          '  sum(total_number) DESC\n'
                                          'LIMIT 1'}},
 'author': 'root_agent',
 'content': {'parts': [{'function_response': {'id': 'adk-0f185077-4dc0-486c-bcb4-d66e7acd68b4',
                                              'name': 'call_db_agent',
                                              'response': {'result': '```json\n'
                                                                     '{\n'
                                                                     '"explain": "I have validated the SQL query using the '
                                                                     'run_bigquery_validation tool and it is valid. The result shows that '
                                                                     'the most popular female name in the USA in 1994 was Jessica.",\n'
                                                                     '"sql": "SELECT\\n    name\\n  FROM\\n    (\\n      '
                                                                     'SELECT\\n          `usa_1910_2013`.name AS name,\\n          '
                                                                     'SUM(`usa_1910_2013`.number) AS total_number\\n        '
                                                                     'FROM\\n          `bigquery-public-data.usa_names.usa_1910_2013` AS '
                                                                     '`usa_1910_2013`\\n        WHERE `usa_1910_2013`.year = '
                                                                     "1994\\n         AND `usa_1910_2013`.gender = 'F'\\n        GROUP BY "
                                                                     '1\\n      UNION ALL\\n      SELECT\\n          '
                                                                     '`usa_1910_current`.name AS name,\\n          '
                                                                     'SUM(`usa_1910_current`.number) AS total_number\\n        '
                                                                     'FROM\\n          `bigquery-public-data.usa_names.usa_1910_current` '
                                                                     'AS `usa_1910_current`\\n        WHERE `usa_1910_current`.year = '
                                                                     "1994\\n         AND `usa_1910_current`.gender = 'F'\\n        GROUP "
                                                                     'BY 1\\n    )\\n  GROUP BY 1\\nORDER BY\\n  sum(total_number) '
                                                                     'DESC\\nLIMIT 1",\n'
                                                                     '"sql_results": "[{\'name\': \'Jessica\'}]",\n'
                                                                     '"nl_results": "The most popular female name in the USA in 1994 was '
                                                                     'Jessica."\n'
                                                                     '}\n'
                                                                     '```'}}}],
             'role': 'user'},
 'id': '2erLYkHz',
 'invocation_id': 'e-64c4472e-b5d1-4ef9-890e-3bd3a4cbdb42',
 'timestamp': 1746727115.482375}

WARNING:google_genai.types:Warning: there are non-text parts in the response: ['function_call'],returning concatenated text result from text parts,check out the non text parts for full response from model.
I0000 00:00:1746727117.917588 6796853 fork_posix.cc:75] Other threads are currently calling into gRPC, skipping fork() handlers

{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': "The most popular female name in the USA in 1994 was Jessica. Now, let's find out the meaning of the name "
                                'Jessica.\n'
                                '\n'},
                       {'function_call': {'args': {'question': 'meaning of the name Jessica'},
                                          'id': 'adk-65d18cc6-a5d4-482a-8175-12336a35fae7',
                                          'name': 'call_document_explorer_agent'}}],
             'role': 'model'},
 'id': '6qXmTtgk',
 'invocation_id': 'e-64c4472e-b5d1-4ef9-890e-3bd3a4cbdb42',
 'long_running_tool_ids': set(),
 'timestamp': 1746727115.484625}
{'actions': {'artifact_delta': {},
             'requested_auth_configs': {},
             'state_delta': {'documents_explorer_agent_output': 'I could not find information about the meaning of the name Jessica in the '
                                                                'available documents.'}},
 'author': 'root_agent',
 'content': {'parts': [{'function_response': {'id': 'adk-65d18cc6-a5d4-482a-8175-12336a35fae7',
                                              'name': 'call_document_explorer_agent',
                                              'response': {'result': 'I could not find information about the meaning of the name Jessica '
                                                                     'in the available documents.'}}}],
             'role': 'user'},
 'id': '0god1a5X',
 'invocation_id': 'e-64c4472e-b5d1-4ef9-890e-3bd3a4cbdb42',
 'timestamp': 1746727121.875233}
{'actions': {'artifact_delta': {}, 'requested_auth_configs': {}, 'state_delta': {}},
 'author': 'root_agent',
 'content': {'parts': [{'text': '**Result:**\n'
                                "The most popular female name in the USA in 1994 was Jessica, but I couldn't find its meaning in the "
                                'available documents.\n'
                                '\n'
                                '**Explanation:**\n'
                                '1.  I first used the `call_db_agent` to query the SQL database to find the most popular female name in '
                                '1994. The SQL query returned "Jessica".\n'
                                '2.  Then, I used the `call_document_explorer_agent` to search for the meaning of the name "Jessica" in '
                                'the available documents. The document search did not return any results.\n'}],
             'role': 'model'},
 'id': 'CWzFPBX1',
 'invocation_id': 'e-64c4472e-b5d1-4ef9-890e-3bd3a4cbdb42',
 'timestamp': 1746727121.877505}

In [24]:
# Registering Feedback for last inraction 
last_invocation_id = event['invocation_id']


feed_back = {
    'score': 5,
    'text': "It was a great response!",
    'invocation_id': last_invocation_id,
    'user_id': 'test'
}


agent_engine.register_feedback(feed_back)

### Remote Testing

In [ ]:
# Replace with your Agent Engine ID
AGENT_ENGINE_ID = "projects/PROJECT_ID/locations/us-central1/reasoningEngines/ENGINE_ID"

In [ ]:
remote_agent_engine = vertexai.agent_engines.get(AGENT_ENGINE_ID)

In [ ]:
for event in remote_agent_engine.stream_query(message="hi!", user_id="test"):
    print(event)

In [ ]:
remote_agent_engine.register_feedback(
    feedback={
        "score": 5,
        "text": "Great response!",
        "invocation_id": "test-invocation-123",
        "user_id": "test",
    }
)

## If you are using Cloud Run

### Local Testing

> You can run the application locally via the `make backend` command.

#### Create a session
 Create a new session with user preferences and state information

In [ ]:
user_id = "test_user_123"
session_id = "test_session_456"
session_data = {"state": {"preferred_language": "English", "visit_count": 1}}

session_url = f"http://127.0.0.1:8000/apps/app/users/{user_id}/sessions/{session_id}"
headers = {"Content-Type": "application/json"}

session_response = requests.post(session_url, headers=headers, json=session_data)
print(f"Session creation status code: {session_response.status_code}")

#### Send a message
Send a message to the backend service and receive a streaming response

In [4]:
message_data = {
    "app_name": "data_explorer_agent",
    "user_id": 'user',
    "session_id": 'eca7976b-ee70-4dbc-9e48-a76f14a2b2e2',
    "new_message": {"role": "user", "parts": [{"text": "What is the meaning of this name?"}]},
    "streaming": True,
}
headers = {"Content-Type": "application/json"}

message_url = "http://127.0.0.1:8000/run_sse"
message_response = requests.post(
    message_url, headers=headers, json=message_data, stream=True
)

print(f"Message send status code: {message_response.status_code}")

# Print streamed response
for line in message_response.iter_lines():
    if line:
        line_str = line.decode("utf-8")
        if line_str.startswith("data: "):
            event_json = line_str[6:]
            event = json.loads(event_json)
            print(f"Received event: {event}")

Message send status code: 200
Received event: {'content': {'parts': [{'text': 'I'}], 'role': 'model'}, 'partial': True, 'usageMetadata': {'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': 'ja9RJSgE', 'timestamp': 1748389275.373852}
Received event: {'content': {'parts': [{'text': ' can query the document data store to find the meaning of the name "Michael".\n\n'}], 'role': 'model'}, 'partial': True, 'usageMetadata': {'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': 'auzxVJya', 'timestamp': 1748389275.373852}
Received event: {'content': {'parts': [{'text': 'I can query the document data store to find the meaning of the name "Michael".\n\n'}], 'role': 'model'}, 'usageMetadata': {'candidatesTokenCount': 31, 'candidatesTokensDetails': [{'modality': 'TEXT', 'tokenCount': 31}], 'promptTokenCount': 3472, 'promptTokensDetails': [{'modality': 'TEXT', 'tokenCount': 3472}], 'totalTokenCount': 3503, 'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': 'OMBVuh8J', 'timestamp': 1748389275.373852}
Received event: {'content': {'parts': [{'functionCall': {'id': 'adk-8d4c7325-0d91-4ca8-9f27-b27774e6a12a', 'args': {'question': 'meaning of the name Michael'}, 'name': 'call_document_explorer_agent'}}], 'role': 'model'}, 'usageMetadata': {'candidatesTokenCount': 31, 'candidatesTokensDetails': [{'modality': 'TEXT', 'tokenCount': 31}], 'promptTokenCount': 3472, 'promptTokensDetails': [{'modality': 'TEXT', 'tokenCount': 3472}], 'totalTokenCount': 3503, 'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'longRunningToolIds': [], 'id': 'IDx7Gub5', 'timestamp': 1748389275.373852}
Received event: {'content': {'parts': [{'functionResponse': {'id': 'adk-8d4c7325-0d91-4ca8-9f27-b27774e6a12a', 'name': 'call_document_explorer_agent', 'response': {'result': 'The name Michael means "who is like God."\n\nCitations:\n* THE MAGIC OF NAMES - THEIR ORIGIN AND MEANING, Chapter 2: Hebrew Names'}}}], 'role': 'user'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {'documents_explorer_agent_output': 'The name Michael means "who is like God."\n\nCitations:\n* THE MAGIC OF NAMES - THEIR ORIGIN AND MEANING, Chapter 2: Hebrew Names'}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': '4qtHnZIm', 'timestamp': 1748389284.773017}
Received event: {'content': {'parts': [{'text': '**Result:** The'}], 'role': 'model'}, 'partial': True, 'usageMetadata': {'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': 'G6vCSpyS', 'timestamp': 1748389286.51123}
Received event: {'content': {'parts': [{'text': ' name Michael means "who is like God."\n\n**Explanation:** I queried the document data store'}], 'role': 'model'}, 'partial': True, 'usageMetadata': {'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': '6By3jTn2', 'timestamp': 1748389286.51123}
Received event: {'content': {'parts': [{'text': ' for the meaning of the name Michael and found the answer in "THE MAGIC OF NAMES'}], 'role': 'model'}, 'partial': True, 'usageMetadata': {'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': '3u2jxKye', 'timestamp': 1748389286.51123}
Received event: {'content': {'parts': [{'text': ' - THEIR ORIGIN AND MEANING" document.\n'}], 'role': 'model'}, 'partial': True, 'usageMetadata': {'candidatesTokenCount': 50, 'candidatesTokensDetails': [{'modality': 'TEXT', 'tokenCount': 50}], 'promptTokenCount': 3543, 'promptTokensDetails': [{'modality': 'TEXT', 'tokenCount': 3543}], 'totalTokenCount': 3593, 'trafficType': 'ON_DEMAND'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': 'A5b2dSAg', 'timestamp': 1748389286.51123}
Received event: {'content': {'parts': [{'text': '**Result:** The name Michael means "who is like God."\n\n**Explanation:** I queried the document data store for the meaning of the name Michael and found the answer in "THE MAGIC OF NAMES - THEIR ORIGIN AND MEANING" document.\n'}], 'role': 'model'}, 'invocationId': 'e-2e3d59c3-5325-4f16-a0a2-91e5813e65de', 'author': 'root_agent', 'actions': {'stateDelta': {}, 'artifactDelta': {}, 'requestedAuthConfigs': {}}, 'id': 'CLuNIunI', 'timestamp': 1748389286.51123}

#### Remote Testing

For more information about authenticating HTTPS requests to Cloud Run services, see:
[Cloud Run Authentication Documentation](https://cloud.google.com/run/docs/triggering/https-request)

Remote testing involves using a deployed service URL instead of localhost.

Authentication is handled using GCP identity tokens instead of local credentials.

In [ ]:
ID_TOKEN = get_ipython().getoutput("gcloud auth print-identity-token -q")[0]

In [ ]:
SERVICE_URL = "YOUR_SERVICE_URL_HERE"  # Replace with your Cloud Run service URL

You'll need to first create a Session

In [ ]:
user_id = "test_user_123"
session_id = "test_session_456"
session_data = {"state": {"preferred_language": "English", "visit_count": 1}}

session_url = f"{SERVICE_URL}/apps/app/users/{user_id}/sessions/{session_id}"
headers = {"Content-Type": "application/json", "Authorization": f"Bearer {ID_TOKEN}"}

session_response = requests.post(session_url, headers=headers, json=session_data)
print(f"Session creation status code: {session_response.status_code}")

Then you will be able to send a message

In [ ]:
message_data = {
    "app_name": "app",
    "user_id": user_id,
    "session_id": session_id,
    "new_message": {"role": "user", "parts": [{"text": "Hello! Weather in New york?"}]},
    "streaming": True,
}

message_url = f"{SERVICE_URL}/run_sse"
message_response = requests.post(
    message_url, headers=headers, json=message_data, stream=True
)

print(f"Message send status code: {message_response.status_code}")

# Print streamed response
for line in message_response.iter_lines():
    if line:
        line_str = line.decode("utf-8")
        if line_str.startswith("data: "):
            event_json = line_str[6:]
            event = json.loads(event_json)
            print(f"Received event: {event}")